{
    "env": {
        "browser": true,
        "es2017": true
    },
    "extends": [],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "script"
    },
    "plugins": ["@typescript-eslint", "jest"],
    "rules": {
        "no-extra-semi": "warn",
        "prefer-const": "warn",
        "quotes": ["warn", "single"]
    }
}
